{% extends "base.html.twig" %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <div class="text-center" style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 1px solid #C9C9C9; padding: 50px">
        {{ form_start(form) }}
        <p>{{ form_label(form._username) }}<br />{{ form_widget(form._username) }}</p>
        <p>{{ form_label(form._password) }}<br />{{ form_widget(form._password) }}</p>
        <p>{{ form_widget(form.login, {attr: {class: "btn btn-lg btn-primary"}}) }}</p>
        {{ form_end(form) }}
    </div>
{% endblock %}
