<form method="post" action="{{ path('gif_delete', {'id': gif.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gif.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
