<form method="post" action="{{ path('gif_favorite', {'id': gif.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gif.id) }}">
    <button class="btn btn-warning">Favorite</button>
</form>
