{% extends 'base.html.twig' %}

{% block title %}Edit Gif{% endblock %}

{% block body %}
    <h1>Edit Gif</h1>

    {{ include('Gif/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('Gif/_delete_form.html.twig') }}
{% endblock %}
