{% extends "base.html.twig" %}

{% block body %}
        {{ form_start(form, {'action': path("app_news_create")}) }}

          <h2>Add a news</h2>

          <p>
              {{ form_errors(form) }}
          </p>

          <p>{{ form_errors(form.title) }}</p>
          <p>{{ form_label(form.title) }}<br />
              {{ form_widget(form.title, {attr : {class: "form-control"}}) }}
          </p>

          <p>{{ form_errors(form.content) }}</p>
          <p>{{ form_label(form.content) }}<br />
              {{ form_widget(form.content, {attr : {class: "form-control"}}) }}
          </p>

          {{ form_row(form.create, {attr: {class: "btn btn-primary"}}) }}

        {{ form_end(form) }}
{% endblock body %}