{% extends "base.html.twig" %}

{% block body %}
    {% for news in newsList %}
        <div class="card" style="text-align: center; margin: 10px 0 10px 0;">
            <div class="card-header">
                <span class="card-title">{{ news.title }} {% if news.user %} by {{ news.user.username }}{% endif %} at {{ news.createdAt|date('d/m/Y') }}</span> {% if app.user %}<a class="btn btn-danger btn-sm" style="float: right" href="{{ path('app_news_delete', {'news': news.id}) }}">x</a>{% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">{{ news.content }}</p>
            </div>
        </div>
    {% else %}
        <p>Oops, pas de news ...</p>
    {% endfor %}

    {% if app.user %}
    <a class="btn btn-primary" href="{{ path('app_news_create') }}">Ajouter</a>
    {% endif %}
{% endblock body %}