{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <h1>Albums</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th colspan="3">Some gifs</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td>{{ album.title }}</td>
                <td>{{ album.user.username }}</td>
                {% for gif in album.gifs|slice(0, 3) %}
                    <td><img src="{{ gif.url }}" style="max-width: 200px;"></td>
                {% endfor %}
                <td>
                    <a href="{{ path('album_show', {'id': album.id}) }}">show</a>
                    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    {% if favorites %}
        <h1>Favorites</h1>
        {% for fav in favorites %}
            <img src="{{ fav.url }}" style="max-width: 400px;">
        {% endfor %}
        <hr>
    {% endif %}

    <div>
        <a href="{{ path('album_new') }}">Create new album</a>
        <a href="{{ path('gif_new') }}">Create new Gif</a>
    </div>
{% endblock %}
