{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
    <h1>Create new Album</h1>

    {{ include('Album/_form.html.twig') }}

    <a href="{{ path('album_index') }}">back to list</a>
{% endblock %}
