{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ album.title }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ album.createdAt ? album.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ album.updatedAt ? album.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <tr>
            {% for gif in album.gifs %}
                <tr>
                    <td><img src="{{ gif.url }}" style="max-width: 400px;"></td>
                    <td>
                        {% if gif.tags %}
                            {% for tag in gif.tags|split(', ') %}
                                <a href="#">#{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group btn-group-toggle">
                            <a href="{{ path('gif_edit', {'id': gif.id}) }}">
                                <button class="btn btn-primary">edit</button>
                            </a>
                            {% include 'Gif/_delete_form.html.twig' with {'gif': gif} %}
                            {% include 'Gif/_favorite_form.html.twig' with {'gif': gif} %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tr>
    </table>

    <a href="{{ path('album_index') }}">back to list</a>
    <a href="{{ path('album_edit', {'id': album.id}) }}">edit</a>
{% endblock %}
