<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock title %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% endblock stylesheets %}
    </head>
    <body>
        <div class="container">
        {% include 'nav.html.twig' %}
        {% block body %}{% endblock body %}
        </div>
        {% block javascripts %}{% endblock javascripts %}
    </body>
</html>
