<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('root') }}">App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_news_index') }}">News</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('album_index') }}">Albums</a>
            </li>

        </ul>
        {% if app.user %}
            <a href="{{ path('logout') }}" class="btn btn-danger">Logout</a>
            👨‍💻 {{ app.user.username }}
        {% else %}
            <a href="{{ path('login') }}" class="btn btn-success">Login</a>
        {% endif %}
    </div>
</nav>